@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 233 64% 98%;
    --foreground: 233 67% 0%;
    --muted: 233 19% 92%;
    --muted-foreground: 233 7% 32%;
    --popover: 233 64% 97%;
    --popover-foreground: 0 0% 0%;
    --card: 233 64% 97%;
    --card-foreground: 0 0% 0%;
    --border: 233 4% 88%;
    --input: 233 4% 88%;
    --primary: 233 42% 36%;
    --primary-foreground: 233 42% 96%;
    --secondary: 233 13% 81%;
    --secondary-foreground: 233 13% 21%;
    --accent: 233 23% 73%;
    --accent-foreground: 233 23% 13%;
    --destructive: 6 86% 35%;
    --destructive-foreground: 6 86% 95%;
    --ring: 233 42% 36%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
